images/ignore

# Clear on Modal Close
# Validate on Modal Close
# Update Task - List, Title, Description, Dates
# Clear Modal after close
# Loaders
# Reminder Sound
# Notes - Create, Update, Delete
# Pin Notes
# Change List View - View Edit Lists
# Make Everything USER SPECIFIC