body {
	cursor: url('images/cursor.png'), auto;
}

button, .nav_item, .nav_item *, .task, .btn-floating, .btn-floating.btn-large, i, main {
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Date-Time Picker Customization */
.datepicker-date-display, .datepicker-table td.is-selected { background-color: #005eed !important; }
.datepicker-footer .confirmation-btns button, .dropdown-content li span { color: #005eed !important }
.timepicker-digital-display { background-color: #005eed !important; }
.timepicker-footer .confirmation-btns button { color: #005eed !important }
.timepicker-tick.active, .timepicker-tick:hover { background-color: #005eed33 !important; }
.timepicker-canvas line { stroke: #005eed !important }
.timepicker-canvas-bg, .timepicker-canvas-bearing { fill: #005eed !important }
.month-prev:focus, .month-next:focus {
    background-color: #005fed59 !important;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label, .input-field .prefix.active {
	color: #005eed !important;
}
/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #005eed !important;
	box-shadow: 0 1px 0 0 #005eed !important;
}
.select-wrapper input.select-dropdown:focus { border-bottom: 1px solid #005eed !important }

.modal.custom_modal { padding: 1rem !important }

img:hover, svg:hover, .material-icons { cursor: pointer; }

#toast-container {
	top: auto !important;
	right: auto !important;
	bottom: 10%;
	left:calc(20vw + 3rem);  
}

/* Side-Nav */
.side-nav { box-sizing: border-box; height: 100vh; width: 20vw; overflow: auto }

.nav_links { box-sizing: border-box; margin-top: 1rem }
.nav_item {
	box-sizing: border-box;
	display: flex;
	align-items: bottom;
	cursor: pointer;
	padding: 15px 0;
	padding-left: 15px;
}
.nav_item:hover { background-color: white; }
.material-icons.nav_icon { margin-right: 1rem }
.material-icons.nav_icon.yellow_icon { color: #ffcc33 }
.material-icons.nav_icon.purple_icon { color: #483334 }
.material-icons.nav_icon.red_icon { color: #FF5C5C }

#user_lists { display: none }
#user_dropdown { width: 18vw }
#list_chevron { transition: transform 200ms ease-out; }

main {
	box-sizing: border-box;
	padding: 1rem 3rem;
	height: 100vh;
	width: 80vw;
	background-image: url("/images/task_bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	color: white;
}
.checkbox input { display: none; }

h5 { letter-spacing: 1px }
.my_day_tasks, .all_tasks { margin-top: 1rem; padding-top: 0.7rem }

.task {
	box-sizing: border-box;
	background-color: rgba(255, 255, 255, 0.98);
	margin-bottom: 1rem;
	padding: 1rem 1.5rem;
	border-radius: 10px;
	color: black;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.task:hover { background-color: rgba(250, 250, 250, 0.9) }
.task.true { text-decoration: line-through }
.task.false { text-decoration: none }

.task_div { display: flex }
.task_div_left { display: flex; margin-right: 5px }
.taskDetails { margin-top: 5px; font-size: smaller; display: flex }
.taskDetails_div { display: flex; align-items: center }
.taskDetails_div i { font-size: 20px; margin: 0 9px; color: #483334 }

[type="checkbox"]:checked+span:not(.lever):before {
	border-top: 2px solid transparent !important;
    border-left: 2px solid transparent !important;
    border-right: 2px solid #013c8f !important;
    border-bottom: 2px solid #013c8f !important;
}

@media only screen and (max-width: 992px) {
	main { width: 100vw; }
}